/* Desktop styles */
@media (min-width: 780px) 
{
    .content
    {
        padding-top: 5%;
        display: grid;
        grid-template-columns: 1fr;
        min-height: 50vh;
        max-height: 50vh;
        min-width: 40vw;
        max-width: 40vw;
        overflow: visible;
    }

    .content:hover
    {
        #image-banner
        {
            transition: .3s;
            scale: 1.01;
            z-index: 0;
            transform-origin: bottom right;
        }

        #image-background
        {
            transition: .3s;
            scale: 1.01;
            z-index: 0;
            transform-origin: bottom left;
        }

        .sub-content
        {
            z-index: 1;
        }
    }

    .image-background-container
    {
        grid-row-start: 1;
        grid-column-start: 1;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    #image-background
    {
        border-radius: 1%;
        grid-row-start: 1;
        grid-column-start: 1;
        min-width: 100%;
        max-width: 100%;
        min-height: fit-content;
        max-height: 100%;
    }

    #image-banner
    {
        border-radius: 1%;
        grid-row-start: 1;
        grid-column-start: 1;
        min-width: 100%;
        max-width: 100%;
        min-height: fit-content;
        max-height: 100%;
    }

    .sub-content
    {
        color: red;
        grid-row-start: 1;
        grid-column-start: 1;
        display: flex;
        font-size: 24px;
        font-weight: bold;
        margin-left: 3%;
        align-items: flex-end;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    #sub-content-header
    {
        margin-bottom: 10%;
    }

}

/* Mobile styles */
@media (max-width: 780px) 
{
    
}