/* Desktop styles */
@media (min-width: 780px) 
{
    .content
    {
        display: grid;
        grid-template-columns: 1fr;
        min-width: 40vw;
        max-width: 40vw;
        overflow: hidden;
    }

    .image-banner
    {
        
    }
}

/* Mobile styles */
@media (max-width: 780px) 
{
    
}