<div class="content">
    <img class="image-banner" src="assets/Placeholder.png" draggable="false" alt="Logo"/>

    <div class="sub-content">
        <div class="content-container">

            <div class="sub-content-container">
                <img id="sub-content-image" src="assets/Placeholder-Image.png" draggable="false" alt="I am Ayaka's Dog!">

                <h1 id="sub-content-text">I am Ayaka's Dog!</h1>

                <p id="sub-content-description">I am a dog that loves to play and run around. I am a very friendly dog and I love to meet new people</p>

                <p>Ayaka just marry me please!</p>
            </div>

            <img id="content-image" src="assets/Placeholder-Image.png" draggable="false" alt="logo"/>

        </div>
    </div>
</div>
