/* Global CSS styles */

html
{
    margin: 0%;
    padding: 0%;
    --background: #020202;
    --background-secondary: #121212;
    --background-tertiary: #282828;
    --active-color: #ffffff;
    --text-color: #ffffff;
    --sub-text-color: #d7d7d7;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--background-secondary);
    color: var(--text-color);
}

body
{
    margin: 0%;
    padding: 0%;
}

/* Desktop styles */
@media (min-width: 780px) 
{

}

/* Mobile styles */
@media (max-width: 780px) 
{
    
}

a, a:visited
{
    color: var(--text-color);
    text-decoration: none;
}

a:hover
{
    color: var(--text-color);
    text-decoration: underline;
}

a:active
{
    color: var(--text-color);
}

.hidden
{
    opacity: 0;
    transition: all 1s;
}

.hidden-fadeInUp
{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.2s;

}

.hidden-fadeInLeft
{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

.hidden-fadeInRight
{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 3s;
}

@media (prefers-reduced-motion)
{
    .hidden
    {
        transition: none;
    }

    .hidden-fadeInUp
    {
        transition: none;
    }

    .hidden-fadeInLeft
    {
        transition: none;
    }

    .hidden-fadeInRight
    {
        transition: none;
    }
}

.show
{
    opacity: 1;
}

.fadeInUp
{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.fadeInLeft
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.fadeInRight
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}