/* Global CSS styles */

html
{
    margin: 0%;
    padding: 0%;
    --background: #020202;
    --background-secondary: #121212;
    --background-tertiary: #282828;
    --active-color: #ffffff;
    --text-color: #ffffff;
    --sub-text-color: #d7d7d7;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--background-secondary);
    color: var(--text-color);
}

body
{
    margin: 0%;
    padding: 0%;
}

a, a:visited
{
    color: var(--text-color);
    text-decoration: none;
}

a:hover
{
    color: var(--text-color);
    text-decoration: underline;
}

a:active
{
    color: var(--text-color);
}