<div class="content">

    <div class="hidden" id="content-container">
        <div id="content-header">
            <h1>News & Updates</h1>
    
            <div class="header-buttons">
    
                <button id="header-button">&#10094;</button>
                <button id="header-button">&#10095;</button>
    
            </div>
        </div>
    
        <div class="updates-container">
    
            <div id="container">
                <app-news-component-container></app-news-component-container>
            </div>
    
            <div id="container">
                <app-news-component-container></app-news-component-container>
            </div>
    
        </div>
    </div>

</div>

