<link rel="stylesheet" href="app.component.css"/>

<div id="nav-container">

  <div class="nav-bar-holder">

    <div class="app-title">
      <img id="app-logo" src="assets/logo.png" draggable="false" alt="Logo"/>
      <p>My Portfolio</p>
    </div>
    
    <div>

      <div class="nav-button">
        <div class="nav-1">
          <p><img src="assets/hamburger-menu-white.png" id="app-hamburger-menu" draggable="false" alt="menu"></p>
        </div>
      </div>

      <div class="nav-button">
        <div class="nav-2">
          <nav>
            <a class="nav-tab" routerLink="/home" routerLinkActive="true" ariaCurrentWhenActive="page">Home</a>
            <a class="nav-tab" href="#about-component">About</a>
            <a class="nav-tab" href="#project-content">Projects</a>
            <a class="nav-tab" >Contact</a>
          </nav>
        </div>
      </div>

    </div>

  </div>

</div>

<router-outlet></router-outlet>