html
{
    --backround: #010409;
    --inactive-color: #0b0c10;
    --active-color: #272b34;
    --text-color: #eff3f6;

    background-color: var(--backround);
    color: var(--text-color);
}

a, a:visited
{
    color: var(--text-color);
    text-decoration: none;
}

a:hover
{
    color: var(--text-color);
    text-decoration: underline;
}

a:active
{
    color: var(--text-color);
}

#app-title
{
    color: var(--text-color);
}
