.content
{
    display: grid;
    grid-template-columns: 1fr;
    max-height: 100%;
    max-width: 100%;
    margin: 0%;
    padding-top: 0%;
}

/* Desktop styles */
@media (min-width: 780px) 
{

    .image-banner {
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: -1;
        max-width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .sub-content
    {
        grid-row-start: 1;
        grid-column-start: 1;
        color: red;
        margin-top: 10%;
        margin-left: 12%;
    }

    .content-container
    {
        display: flex;
    }

    #content-image
    {
        min-width: 35vw;
        max-width: 35vw;
        min-height: 85vh;
        max-height: 85vh;
        transition-delay: .1s;
    }

    .sub-content-container
    {
        margin-left: 7.5%;
        min-width: 35vw;
        max-width: 35vw;
    }

    #sub-content-image
    {
        min-width: 12.5vw;
        max-width: 12.5vw;
        min-height: 25vh;
        max-height: 25vh;
    }
}

/* Mobile styles */
@media (max-width: 780px) 
{
    
}
