<div class="content">
    <img class="image-banner" src="assets/Placeholder.png" draggable="false" alt="Logo"/>

    <div class="sub-content">
        <div class="content-container">
            <img class="hidden" id="content-image" src="assets/Placeholder-Image.png" draggable="false" alt="logo"/>

            <div class="sub-content-container">
                <img class="hidden" id="sub-content-image" src="assets/Placeholder-Image.png" draggable="false" alt="I am Ayaka's Dog!">

                <h1 class="hidden" id="sub-content-text">I am Ayaka's Dog!</h1>

                <p class="hidden" id="sub-content-description">I am a dog that loves to play and run around. I am a very friendly dog and I love to meet new people</p>

                <p class="hidden">Ayaka just marry me please!</p>
            </div>
        </div>
    </div>
</div>
