    <div id="about-content" class="content-banner-holder">  
    
        <div id="image-content">

            <div id="image-content-inner">

                <div id="image-content-main-header">

                    <div id="image-content-main-header-content">

                        <div id="developer-content">
                            
                            <h1>Clarence Joven</h1>
                            <div id="map-pin-container">
                                <img id="map-pin" src="assets/maps-pin-line-icon.webp" draggable="false" alt="Developer Icon"/>
                            </div>
        
                        </div>
    
                    </div>

                </div>

                <div id="image-logo-holder">

                    <img class="hidden-fadeInUp" id="image-logo" src="assets/homepage-icon.png" draggable="false" alt="Logo"/>

                </div>

                <div id="image-content-sub-header">

                    <div>

                        <div class="hidden-fadeInUp">
                            <h1 id="image-header">Let's Create!</h1>
                            <p id="image-paragraph">Good ideas lead to good things ahead.</p>
                        </div>
    
                        <!--
                            Hello world! My name is Clarence, I am a developer and I work on all sorts of things ranging from web development, game creation, program creation etc. I also have a wide variety of skills for different expertise as I like to learn about new things every once in a while.
                        -->
                
                        <div class="hidden-fadeInUp">
                            <button id="image-button" onclick="location.href='#skills-content'">My Skills</button>
                            <button id="image-button" onclick="location.href='#contant-content'">Contact Me</button>
                        </div>

                    </div>
    
                </div>

            </div>
    
        </div>

    </div>

    <app-featured-component-a></app-featured-component-a>
    <app-featured-component-b></app-featured-component-b>
    <app-news-and-updates-component></app-news-and-updates-component>

    <div class="sub-feature-component" id="skills-content">
        <app-sub-feature-component-a></app-sub-feature-component-a>
    </div>

    <div class="sub-feature-component">
        <app-sub-feature-component-b></app-sub-feature-component-b>
    </div>

    <div class="sub-feature-component">
        <app-sub-feature-component-a></app-sub-feature-component-a>
    </div>

    <div class="sub-feature-component">
        <app-sub-feature-component-b></app-sub-feature-component-b>
    </div>

    <div class="sub-feature-component">
        <app-sub-feature-component-a></app-sub-feature-component-a>
    </div>

    <div class="sub-feature-component">
        <app-sub-feature-component-b></app-sub-feature-component-b>
    </div>

    <div class="sub-feature-component">
        <app-sub-feature-component-a></app-sub-feature-component-a>
    </div>

    <div class="display-box-container" id="contant-content">

        <app-display-box-component></app-display-box-component>
        <app-display-box-component></app-display-box-component>

    </div>

    <link rel="stylesheet" href="home.component.css"/>