/* CSS styles for the home component */

.content-banner-holder
{
    display: grid;
    grid-template-columns: 1fr;
}

/* Image banner styles */
.image-banner {
    grid-row-start: 1;
    grid-column-start: 1;
    max-width: 100%;
}

#image-content
{
    grid-row-start: 1;
    grid-column-start: 1;
    color: var(--background-secondary);
}

.sub-feature-component
{
    margin-top: 0%;
    margin-bottom: 5%;
}

/* Desktop styles */
@media (min-width: 780px) {
    .image-banner {
        min-width: 100%;
        max-height: 92vh;
    }

    /* Scroll button styles */
    #scroll-button {
        align-items: center;
        opacity: .5;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        color: var(--text-color);
        background-color: var(--background-secondary);
    }

    /* Scroll label styles */
    #scroll-label {
        opacity: 1;
        font-size: 32px;
    }

    #image-content
    {
        color: var(--text-color);
        font-family: Georgia;
        margin-top: 8%;
        margin-left: 8%;
    }

    #image-logo
    {
        border-bottom: 1px solid var(--text-color);
        min-width: 12vw;
        max-width: 12vw;
        min-height: 24vh;
        max-height: 24vh;
    }

    #image-header
    {
        font-size: 3vw;
        max-width: 35vw;
        overflow: auto;
    }

    #image-paragraph
    {
        text-align: justify;
        font-size: 1vw;
        max-width: 35vw;
        overflow: auto;
    }

    #image-button
    {
        width: 32vh;
        height: 8vh;
        margin-top: 5vh;
        margin-left: .5vw;
        margin-right: .5vw;

        font-size: 32px;
        
        background-color: transparent;
        color: var(--text-color);
        border: 1px solid var(--text-color);
    }

    #image-button:hover
    {
        cursor: pointer;
        transition: .5s ease-in;
        background-color: var(--text-color);
        color: var(--background-secondary);
    }

    .display-box-container
    {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 12%;
        margin-right: 12%;
    }
}

/* Mobile styles */
@media (max-width: 780px) 
{
    
}

#scroll-button-holder:hover {
    cursor: pointer;
}

#scroll-button-holder {
    display: none;
}

.image-carousel
{
    margin: 0%;
    padding: 0%;
}