/* CSS styles for the home component */

/* Body styles */
body {
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    background-color: red;
}

/* Image banner styles */
.image-banner {
    max-width: 100%;
}

/* Desktop styles */
@media (min-width: 780px) {
    .image-banner {
        min-width: 100%;
        max-height: 92vh;
    }

    /* Slideshow holder styles */
    .slideshow-holder {
        min-width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50vh;
    }

    /* Scroll button styles */
    #scroll-button {
        align-items: center;
        opacity: .5;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        color: var(--text-color);
        background-color: var(--background-secondary);
    }

    /* Scroll label styles */
    #scroll-label {
        opacity: 1;
        font-size: 32px;
    }

    #image-content
    {
        color: var(--background-secondary);
        position: absolute;
        top: 28vh;
        left: 10vw;
    }

    #image-logo
    {
        min-width: 12vw;
        max-width: 12vw;
        min-height: 24vh;
        max-height: 24vh;
    }

    #image-header
    {
        font-size: 2.5vw;
        max-width: 35vw;
        overflow: auto;
    }

    #image-button
    {
        width: 32vh;
        height: 8vh;
        margin-top: 5vh;
        margin-left: .5vw;
        margin-right: .5vw;

        font-size: 32px;
        background-color: transparent;
        border: 1px solid var(--background-secondary);
    }

    #image-button:hover
    {
        transition: .5s;
        background-color: var(--background-secondary);
        color: var(--text-color);
    }
}

/* Mobile styles */
@media (max-width: 780px) 
{
    
}

#scroll-button-holder:hover {
    cursor: pointer;
}

#scroll-button-holder {
    display: none;
}

.image-carousel
{
    margin: 0%;
    padding: 0%;
}